html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif
}
:root {
    --background: rgba(206, 131, 104, 0.9);
}

/* Reset Box Sizing */
*, *::before, *after {
    box-sizing: border-box;
}

/* .content {
    height: 100vh;
    background-color: darkcyan;
    background-image: url(images/IMG_9674.jpg);
    background-size: cover;
} */

.Landing-Page {
    height: 100vh;
    /* background-color: darkcyan; */
    background-image: url(images/IMG_9674.png);
    background-attachment: fixed;
    background-size: cover;
}


/* Navigations Styles */ 

header {
    background: var(--background); 
    text-align: center;
    position: fixed; 
    z-index: 999;
    width: 100%;
}

.logo {
    margin: 10;
}
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em; 
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative; 
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: abolute; 
}

.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle-label span::after {
    top: 5px;
}

nav {
    position: absolute;
    text-align: left; 
    top: 100%;
    left: 0; 
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px; 
    text-transform: uppercase; 
    opacity: 0;
    transition: opacity 150ms ease-in-out;
} 

nav a:hover {
    color: #fff;
}

/* Using Checkbox to create hamburger menu */
.nav-toggle:checked ~ nav { 
    transform: scale(1,1);
    
}
 
.nav-toggle:checked ~ nav a {
    opacity: 1; 
    transition: opacity 250ms ease-in-out 250ms; 
}

/* mobile view  */
@media screen and (min-width: 850px) {
    .nav-toggle-label {
        display: none; 
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block; 
        height: 5px;
        background: white; 
        position: abolute; 
        top: -.5em; 
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 200ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
    .footer-text {
        color: rgba(206, 131, 104, 0.9);
        display: flex;  
        padding: 30px; 
    }
    .footer-sub {
        display: flex;
        list-style-type: none; 
    }
    
    .footer-sub li {
        color: rgba(206, 131, 104, 0.9);
        margin: 1em; 
        padding: 10px; 
        
    }
    /* .footer-sub {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        list-style-type: none; 
    }
    
    .footer-sub li {
        color: rgba(206, 131, 104, 0.9);
        margin: 1em; 
        padding: 10px; 
    } */
}

.Landing-text {
    /* color: rgba(60, 128, 39, 1); */
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align:  center;
    position: relative;
    top: 50%;
}

.Landing-text h1 {
    font-size: 50px;
    font-weight: 900;
}

.Clothing-Section {
    height: 50vh;
    background-color: rgb(37,79,41);
    padding-top: 0px;
}
.Clothing-text {
    padding: 30px;
    float: right; 
    width: 300;
    color: white;
}

.Songs-Section {
    height: 50vh;
    background-color: rgb(59,129,66);
}

.Songs-text {
    text-align: left;
    /* top: 50%; */
    right: 300px;
    vertical-align: middle;
    padding: 30px;
    width: 300; 
    color: white; 
}

.Activities-Section {
    height: 50vh;
    background-color:rgb(106,169,112);
}

.Activities-text {
    padding: 30px;
    float: right; 
    width: 300;
    color: white; 
}

footer {
    width: 100%;
    height: auto;
    margin: auto; 
    background-color: white; 
    padding: 30px 20px; 
}

.footer-text {
    color: rgba(206, 131, 104, 0.9);
    display: flex;  
    padding: 30px; 
}

/* .footer-sub {
    display: flex;
    list-style-type: none; 
}

.footer-sub li {
    color: rgba(206, 131, 104, 0.9);
    margin: 1em; 
    padding: 10px; 
    
} */

.footer-sub {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;  */
    /* align-items: center;  */
    list-style-type: none; 
}
    
.footer-sub li {
    color: rgba(206, 131, 104, 0.9);
    margin: 0.0001em; 
    padding: 20px;
}

.About-Us {
    list-style-type: none; 
    font-size: 12px;
    
}

#About-Us-Line {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;

}

#Career-Center-Line {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;
}

#Quick-Links-Line {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;
}

#Online-Community-Line{
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;
}

.Career-Center {
    list-style-type: none; 
    font-size: 12px;
}

.Quick-Links {
    list-style-type: none; 
    font-size: 12px;
}

.Online-Community {
    list-style-type: none; 
    font-size: 12px;
}

.Web {
    margin-left: 10em; 

}
.Private {
    margin-left: 10em; 
}

.Terms {
    margin-left: 10em; 
}

.Contact {
    margin-left: 10em; 
}
.Partners  {
    margin-left: 10em; 
}
Map {
    margin-left: 10em; 
}