html{
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif
}

.content {
    width: 100vw; 
}

:root {
    --background: rgba(206, 131, 104, 0.9);
}

/* Reset Box Sizing */
*, *::before, *after {
    box-sizing: border-box;
}

.Landing-Page {
    height: 100vh;
    background-image: url(images/IPad_View.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Navigations Styles */ 

header {
    background: var(--background); 
    text-align: center;
    position: fixed; 
    z-index: 999;
    width: 100%;
}

.logo {
    margin: 10;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em; 
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative; 
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: abolute; 
}

.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle-label span::after {
    top: 5px;
}

nav {
    position: absolute;
    text-align: left; 
    top: 100%;
    left: 0; 
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top; 
    transition: transform  250ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px; 
    text-transform: uppercase; 
    opacity: 0;
    transition: opacity 250ms ease-in-out;
} 

nav a:hover {
    color: #fff;
}

/* Using Checkbox to create hamburger menu */
.nav-toggle:checked ~ nav { 
    display: block;  
    transform: scale(1,1);
    
}
 
.nav-toggle:checked ~ nav a {
    opacity: 1; 
    transition: opacity 250ms ease-in-out 250ms; 
}



.Landing-text h1 {
    font-size: 50px;
    font-weight: 900;
}
.cool-button-unclicked{
    position: absolute;
    opacity: 100%; 
}
.cool-button-unclicked:hover {
    opacity: 0.1; 
    transition: 200ms ease-in;
}
.Landing-text {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align:  center;
    position: relative;
    top: 50%;
}
.Clothing-text {
    flex: 1; 
    align-items: center; 
    padding-top: 50px; 
    justify-content: center;
    width: 100%;  
    float: right; 
    color: white; 
}


.Songs-text {
    flex: 1; 
    align-items: center; 
    padding-top: 50px; 
    justify-content: center;
    width: 100%;  
    float: right; 
    color: white; 
}


.Activities-text {
    flex: 1; 
    align-items: center; 
    padding-top: 50px; 
    justify-content: center;
    width: 100%;  
    float: right; 
    color: white; 
}

.activity{
    display: flex;
    justify-content: center;
}

.cloth{
    display: flex;
    justify-content: center;
}

.song{
    display: flex;
    justify-content: center;
}

#gucci {
    font-size: 30px;
}

#poncho {
    font-size: 20px; 
    text-transform: uppercase;
}

#cherish {
    font-size: 30px;
}

#kesha {
    font-size: 20px; 
    text-transform: uppercase;
}

#SONGS {
    font-size: 40px; 
}

#ACTIVITIES {
    font-size: 40px; 
}

#frat {
    font-size: 30px; 
}

#photo {
    font-size: 20px; 
    text-transform: uppercase; 
}

footer {
    width: 100%;
    height: auto;
    margin: auto; 
    background-color: white; 
}

.footer-text {
    /* display: flex;  */
    color: rgba(206, 131, 104, 0.9);
    list-style-type: none; 
    padding: 30px; 
    line-height: 30px;
}

.footer-sub {
    list-style-type: none; 
    line-height: 5px;
}
    
.footer-sub li {
    color: rgba(206, 131, 104, 0.9);
    margin: 0.0001em; 
    padding: 20px;
}

.About-Us {
    list-style-type: none; 
    font-size: 12px;
    
}

#About-Us-Line {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;

}

#Career-Center-Line {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;
}

#Quick-Links-Line {
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;
}

#Online-Community-Line{
    font-size: 15px;
    text-transform: uppercase; 
    font-weight: 900;
}

.Career-Center {
    list-style-type: none; 
    font-size: 12px;
}

.Quick-Links {
    list-style-type: none; 
    font-size: 12px;
}

.Online-Community {
    list-style-type: none; 
    font-size: 12px;
}

.Web {
    margin-left: 10em; 

}
.Private {
    margin-left: 10em; 
}

.Terms {
    margin-left: 10em; 
}

.Contact {
    margin-left: 10em; 
}
.Partners  {
    margin-left: 10em; 
}
Map {
    margin-left: 10em; 
}

.images-songs{
    display: flex;
    flex: 2; 
    justify-content: center;
    position: relative;
    width: 100%; 
}

.images-activities {
    display: flex;
    flex: 2; 
    justify-content: center;
    position: relative;
    width: 100%; 
}

.images-clothing {
    display: flex;
    flex: 2; 
    justify-content: center;
    position: relative;
    width: 100%; 
}

.image-activities {
    padding: 0px; 
    margin-top: 0px; 
}

.image-clothing {
    padding: 0px; 
    margin-top: 0px; 
}

.image-songs {
    padding: 0px; 
    margin-top: 0px; 
}

.Activities-Section {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%; 
    background-color:rgb(106,169,112);
}
.Songs-Section {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%;
    background-color: rgb(59,129,66);
}

.Clothing-Section {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%; 
    background-color: rgb(37,79,41);
}

/* desktop view  */
@media screen and (min-width: 834px) {

    .Landing-Page {
        height: 100vh;
        background-image: url(images/IMG_9674.png);
        background-attachment: fixed;
        background-size: cover;
    }

    .nav-toggle-label {
        display: none; 
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block; 
        height: 5px;
        background: white; 
        position: abolute; 
        top: -.5em; 
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
  
    .footer-sub {
        display: flex;
        list-style-type: none; 
    }
    .footer-text {
        display: flex; 
        color: rgba(206, 131, 104, 0.9);
        list-style-type: none; 
        padding: 30px; 
    }

    .images-activities {
        display: flex; 
        padding: 0px; 
        margin: 0px; 
    }
    
    .images-clothing {
        display: flex; 
        padding: 0px; 
        margin: 0px; 
    }

    .images-songs {
        display: flex; 
        padding: 0px; 
        margin: 0px; 
    }
    
    .image-activities {

        position: relative; 
        justify-content: center;
        padding-top: 150px; 

    }

    .image-songs {
        position: relative; 
        justify-content: center;
        padding-top: 150px; 
    }

    .image-clothing {
        position: relative; 
        justify-content: center;
        padding-top: 150px; 
    }

    .Activities-text{
        align-items: center; 
        padding-top: 130px; 
        float: right; 
        color: white; 
        height: 100%; 
        justify-content: center;
    }


    .Clothing-text {
        align-items: center; 
        padding-top: 130px; 
        float: right; 
        color: white; 
        height: 100%; 
        justify-content: center;
    }

    #CLOTHING {
        font-size: 40px; 
        font-weight: 900;  
    }
  
    .Songs-text {
        align-items: center; 
        padding-top: 130px; 
        float: right; 
        color: white; 
        height: 100%; 
        justify-content: center; 
    }

    .Activities-Section {
        display: flex;
        flex-direction: row-reverse; 
        justify-content: space-between;
        height: 100vh;
        background-color:rgb(106,169,112);
    }

    .Clothing-Section {
        display: flex;
        flex-direction: row-reverse; 
        justify-content: space-between;
        height: 100vh;
        background-color: rgb(37,79,41);
    }

    .Songs-Section{
        display: flex;
        flex-direction: row-reverse; 
        justify-content: space-between;
        height: 100vh;
        background-color: rgb(59,129,66);

    }
    .activity{
        display: flex;
        justify-content: left;
        font-size: 30px; 
    }

    .cloth {
        display: flex;
        justify-content: left;
        font-size: 30px; 
    }

    .song{
        display: flex;
        justify-content: left;
        font-size: 30px; 
    }
    
}

/*mobile view 400 pixels and less*/ 
@media only screen and (max-width: 400px) {
    .Landing-Page {
        background-image: url(images/Mobile_View.png);
    }

    #title {
        padding: 0px 20px 20px 20px;
    }

    #go {
        padding: 0px 20px;
    }
    #gucci {
        font-size: 20px; 
        padding: 0px 20px; 
        text-align: center; 
    }
    #poncho{
        font-size: 15px;
        padding: 0px 20px; 
        text-align: center; 

    }

    #cherish {
        font-size: 20px; 
        padding: 10px; 
        text-align: center; 
    }

    #kesha {
        font-size: 15px;
        padding: 10px; 
        text-align: center; 
    }

    #frat {
        font-size: 20px; 
        padding: 0px 20px; 
        text-align: center; 
    }

    #photo {
        font-size: 15px;
        padding: 0px 20px; 
        text-align: center; 
    }

}

/*mobile view 480 pixels and less*/ 
@media only screen and (max-height: 480px) {
    #title {
        vertical-align: middle;
    }

    #go {
        padding: 0px 20px;
        vertical-align: middle;
    }

    #note {
        padding: 0px 20px;
        vertical-align: middle;
    }

    .cool-button-unclicked {
        /* flex: 1;
        justify-content: flex-start;  */
        /* padding: 50px;  */
    }

    .cool-button-hover {
        flex: 1;
        justify-content: flex-start; 

    } 
}